<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yankang.androidanimexamples">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.yankang.androidanimexamples.MainActivity">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name="com.yankang.androidanimexamples.TweenActivity"/>
        <activity android:name="com.yankang.androidanimexamples.FrameActivity"/>
        <activity android:name=".PropertyAnimActivity"/>
        <activity android:name=".PropertyAnimJavaActivity"/>
        <activity android:name=".PropertyAnimXmlActivity"/>
        <activity android:name=".InterpolatorActivity"/>
        <activity android:name=".TypeEvaluatorActivity"/>
        <activity android:name=".TransitionActivity"/>
        <activity android:name=".Transitions.SceneChangeActivity"/>
        <activity android:name=".Transitions.ViewTransitionActivity"/>
        <activity android:name=".AppCompatTransition.AppCompatTransitionActivity"/>

    </application>

</manifest>